<h1><%= @stylist.name() %></h1>

<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch"> <!-- this line will allow us to use the route patch("stylists/:id") in our app.rb file to update that particular list's resource.-->

  <label for="name">Rename this stylist:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update</button>
</form>

<% if @stylist.clients().any?() %>
  <h3>Here are all the clients this stylist has:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.name() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>This stylist has no clients</p>
  <% end %>

  <h3>Add a client to <%= @stylist.name() %> </h3>

<form action="/clients" method="post">
    <label for="stylist_id">Select a Stylist</label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>


    <label for="name">Name of the client:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add client</button>
</form>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
